body {
    font-family: "Playfair Display", serif;
    background: linear-gradient(to bottom right, #e9f9fb, #dceeff);
}





.whatsapp-icon{
    font-size: 40px;
    color: #fff;
    background-color: #25D366;
    border-radius: 10px;
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;   
    z-index: 1;
    position: fixed;
    bottom: 70px;
    right: 70px;    
}

.airbnb-icon {
    font-size: 40px;
    color: #fff;
    background-color: #FD365B;
    border-radius: 10px;
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;   
    z-index: 1;
    position: fixed;
    bottom: 70px;
    right: 140px; 
}


.beach-image {
    width: 100%;
    height: 98vh;
    position: relative;
    z-index: -1;
}

.overlay {
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));
    z-index: 1;
}

.home::after {
    display: flex;
    justify-content: center;
    content: url(../icons/white-arrow.png);
    position: absolute;
    width: 100%;
    bottom: 60px;
    height: 35px;
    animation: downarrow 0.7s infinite alternate ease-in-out;
}

@-webkit-keyframes downarrow {

    0% {
        -webkit-transform: translateY(0);
    }

    100% {
        -webkit-transform: translateY(0.4em);
        opacity: 0.4;
    }
}

.header {
    display: flex;
    width: 100%;
    height: 80px;
    padding: 3%;
    position: absolute;
    justify-content: space-between;
    color: #fff;
}

.main-text {
    margin-top: 70px;
    font-size: 70px;
}

.menu{
    display: flex;
    gap: 10px;
}

.menu li a {
    font-size: 20px;
    color: #fff;
    padding: 10px;
    transition: 0.3s;
    border-radius: 20px;
}

.material-icons.burger-menu, .material-icons.close-burger-menu{
    display: none;
}
.menu li a:hover {
    background-color: #fff;
    color: #1356B8;
}

/* Galeria */

#galeria{
    margin: 50px 0px 50px 0px;
}

.intro-text{
    color: #4d97ac;
    font-size: 27px;
    text-align: center;
    padding: 10px;
}
.image-gallery {
    margin-top: 50px;    
    width: 100vw;
    overflow: scroll;
    position: relative;
}

.gallery-container{
    display: flex;
    gap: 10px;;
}

.images{
    width: 300px;

    border-radius: 15px;
    transition: ease-in-out 0.2s;
}

.images:hover {
    cursor: pointer;
    opacity: .4;
}

  /* modal */

.modal{
    background-color: rgba(2, 1, 1, 0.6);
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;    
}

.modal-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

.image-description{
    font-size: 20px;

    font-weight: 800;
    color: #fff;
}

.modal-image{
    height: 700px;
    width: 500px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;   
}

.modal.display-none{
    display: none;
}

.arrows{
    display: flex;
    position: absolute;
    width: 850px;
    justify-content: space-between;
    font-size: 60px;
    z-index: 11;
    color: #4d97ac
}

.material-icons.arrow-back, .material-icons.arrow-forward{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;   
    background-color: #fff;
    padding: 15px;
    border-radius: 100%;
    font-size: 40px;
    cursor: pointer;
}

.material-icons.close-icon{
    font-size: 40px;

    cursor: pointer;
    align-self: flex-end;
    color: #4d97ac;
    background-color: #fff;
    border-radius: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;   
}

/* comodidades */

#comodidades{
    margin: 50px 0px 50px 0px;
}

.amenities-text{
    font-size: 30px;
    color: #4d97ac;
    padding-left: 40px;
}

.amenities-container{
    display: grid;
    grid-gap: 15px;
    padding: 50px 70px 0px 70px;
}


.amenities-menu{
    display: flex;
    justify-content: space-between;    
    cursor: pointer;
}

 .bathroom, .room-laundry, .entertainment, .climatizing, .internet, .kitchen-dining-room, .location-features, .outdoor, .parking{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: transparent;
    border-radius: 15px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;   
}

.amenities{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.amenities-list{
    display: flex;
    gap: 10px;
    align-items: center;
}

.display-none{
    display: none;
}

/* localizacao */

#localizacao{
    margin: 50px 0px 50px 0px;
}

.location-text{
    font-size: 30px;
    color: #4d97ac;
    padding-left: 40px;
}

.location-map{
    display: flex;
    justify-content: center;
    position: relative;
    margin: 50px 0px 70px 0px;
}

.map{ 
    width: 80vw;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;   
}

.fa-solid.fa-location-dot{

    font-size: 40px;
    position: absolute;
    color: #FD008E;
    top: 240px;
}

/* Depoimentos */

#depoimentos{
    margin: 50px 0px 50px 0px;
}
.reviews-text{
    font-size: 30px;

    color: #4d97ac;
    padding-left: 40px;
}

.reviews-area{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
    padding: 50px 70px 70px 70px;
}

.stars{
    color: #F3B11B;
    display: flex;
    gap: 2px;
}

.review{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: transparent;
    border-radius: 15px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;   
}